<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="public" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Public page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="protected" routerLinkActive="active">Protected Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" *ngIf="netlifyService.get().currentUser() === null" (click)="openModal()">Login</a>
          <a class="nav-link" *ngIf="netlifyService.get().currentUser()">Welcome {{netlifyService.get().currentUser().email}}</a>
        </li>
        <li class="nav-item" *ngIf="netlifyService.get().currentUser()">
          <a class="nav-link" [routerLink]="" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>